# Practice Assignment :: 01

## How to import pandas and check the version?

In [6]:
import pandas as pd

In [5]:
pd.__version__

'1.0.1'

import useful libraries

In [ ]:
import tkinter as tk
import matplotlib.pyplot as plt
import face_detection.utils as utils

## How to create a series from a list, numpy array and dict?

In [16]:
import numpy as np
import pandas as pd
s1=pd.Series([1,2,4,5,3])
print(s1)
s2=pd.Series(np.array([1,2,3,4,5]))
print(s2)
s3=pd.Series({1:2,2:3,3:4})
s3

0    1
1    2
2    4
3    5
4    3
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int32

1    2
2    3
3    4
dtype: int64

## How to convert the index of a series into a column of a dataframe?

## hint::
### Convert the series ser into a dataframe with its index as another column on the dataframe.

In [18]:
import pandas as pd
import numpy as np
ser1=pd.Series(range(10,12))
ser2=pd.Series(range(12,14))
df=pd.DataFrame({'c1':ser1,'c2':ser2})
print(df)
df.index=['c1','c2']
df.columns=[0,1]
df

   c1  c2
0  10  12
1  11  13

     0   1
c1  10  12
c2  11  13

# How to calculate the number of characters in each word in a series?

In [19]:
import pandas as pd
words=pd.Series(['no','of','characters','in','each','word'])
words.str.len()

0     2
1     2
2    10
3     2
4     4
5     4
dtype: int64

# How to filter valid emails from a series?

## Desired Output::
1    rameses@egypt.com

2            matt@t.com

3    narendra@modi.com

In [3]:
import re
txt="""rameses@gmail.com
matt@t.com
narendra@modi.com
"""
pattern = r'[A-Z0-9._+-]+@[A-Z0-9.-]+.[A-Z]{2,4}'
regex=re.compile(pattern, flags=re.IGNORECASE)
regex

re.compile(r'[A-Z0-9._+-]+@[A-Z0-9.-]+.[A-Z]{2,4}', re.IGNORECASE|re.UNICODE)

In [2]:
regex.findall(txt)

['rameses@gmail.com', 'matt@t.com', 'narendra@modi.com']

# How to replace missing spaces in a string with the least frequent character?

## Input::
###  my_str = 'dbc deb abed gade'
## Desired Output::
### 'dbccdebcabedcgade'  # least frequent is 'c'

In [5]:
import pandas as pd
my_str='dbc deb abed gade'
print('original string given by user',my_str)
ser=pd.Series(list(my_str))
print(ser)
element_freq=ser.value_counts()
print(element_freq)
current_freq=element_freq.dropna().index[-1]
result=" ".join(ser.replace(' ',current_freq))
print(result)

original string given by user dbc deb abed gade
0     d
1     b
2     c
3
4     d
5     e
6     b
7
8     a
9     b
10    e
11    d
12
13    g
14    a
15    d
16    e
dtype: object
d    4
b    3
     3
e    3
a    2
g    1
c    1
dtype: int64
d b c c d e b c a b e d c g a d e

# How to swap two rows of a dataframe?

In [13]:
import pandas as pd
a=pd.DataFrame(data=[[1,2],[3,4]], index=range(2), columns=['A','B'])
print(a)
b,c=a.iloc[0].copy(),a.iloc[1].copy()
a.iloc[0],a.iloc[1]=c,b
a

   A  B
0  1  2
1  3  4

   A  B
0  3  4
1  1  2

# How to get the positions where values of two columns match?

In [18]:
import pandas as pd
import numpy as np
df=pd.DataFrame([[2,2],[3,6]], columns=['c1','c2'])
comp_col=np.where(df['c1']==df['c2'],True,False)
print(comp_col)

[ True False]

# How to replace both the diagonals of dataframe with 0?

In [21]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,100).reshape(10,-1))
print(df)
print("    ")
out=df.where(df.values != np.diag(df),0,df.where(df.values != np.flipud(df).diagonal(0),0,inplace=True))
print(out)

    0   1   2   3   4   5   6   7   8   9
0  62  49  19  31  74  43  32  68  81   7
1  59  36  40  89  23  37  34  64  23  47
2  83  41  39   1  44  27  49  60  27  32
3  43  35  64  40  44  59  67  34  50  43
4  16  42  82  20  74  11   5  82  82  55
5  29   7  62  61  52  48  37  73  28  56
6  53  15  41  82   7  11  21  89  46  79
7  38  28  24  51  79  59  55   8   5  56
8  85  27  95  94  30  89   1  66   7  16
9  10  91  51  87  67  17  50  28  62  18

    0   1   2   3   4   5   6   7   8   9
0   0  49  19  31   0  43  32  68  81   0
1  59   0  40  89  23  37  34  64   0  47
2  83  41   0   1  44  27  49   0  27  32
3  43  35  64   0  44  59   0  34  50  43
4  16  42  82  20   0   0   5  82  82  55
5  29   7  62  61   0   0  37  73  28  56
6  53  15  41   0   7   0   0  89  46  79
7  38  28   0  51  79  59  55   0   5  56
8  85   0  95  94  30  89   1  66   0  16
9   0  91  51  87  67  17  50  28  62   0

# How to get the particular group of a groupby dataframe by key?

### This is a question related to understanding of grouped dataframe.

In [3]:
import numpy as np
import pandas as pd
rand=np.random.RandomState(1)
df=pd.DataFrame({'A':['foo','bar']*3,
                'B':rand.randn(6),
                'C':rand.randint(0,20,6)})
print(df)
gb=df.groupby(['A'])
print(gb)
gb.get_group('foo')

     A         B   C
0  foo  1.624345   5
1  bar -0.611756  18
2  foo -0.528172  11
3  bar -1.072969  10
4  foo  0.865408  14
5  bar -2.301539  18
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000207DEC3B948>

     A         B   C
0  foo  1.624345   5
2  foo -0.528172  11
4  foo  0.865408  14

# Which column contains the highest number of row-wise maximum values?

### Obtain the column name with the highest number of row-wise maximum’s in df.

In [6]:
import pandas as pd
df=pd.DataFrame({'consumption':[10.51,103.11,55.48,60],
                             'co2_emissions':[37.2,19.66,1712,70]},
                            index=['pork','wheat products','Beef','Mutton'])
print(df)
df.idxmax()

                consumption  co2_emissions
pork                  10.51          37.20
wheat products       103.11          19.66
Beef                  55.48        1712.00
Mutton                60.00          70.00

consumption      wheat products
co2_emissions              Beef
dtype: object

AttributeError: 'DataFrame' object has no attribute 'idmax'